/* Full screen center */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f8f9fb;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  /* Main Container */
  .register-container {
    width: 380px;
    background: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Title */
  .register-container h1 {
    font-size: 28px;
    font-weight: 700;
    color: #1a1a2e;
    margin-bottom: 5px;
  }
  
  .register-container p {
    font-size: 14px;
    color: #444;
    margin-bottom: 25px;
  }
  
  /* Input Boxes */
  .input-box {
    width: 90%;
    padding: 14px 16px;
    margin-bottom: 18px;
    border: 1.5px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .input-box2 {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 18px;
    border: 1.5px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
  }

  .input-box:focus {
    border-color: #1a1a2e;
    box-shadow: 0 0 6px rgba(26, 26, 46, 0.2);
  }
  

  /* Register Button */
  .login-btn {
    width: 100%;
    padding: 14px;
    background: #1a1a2e;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-btn:hover {
    background: #111827;
  }
  
  /* Login Link */
  .register-text {
    margin-top: 20px;
    font-size: 13px;
    color: #555;
  }
  
  .register-text a {
    color: #1a1a2e;
    font-weight: 600;
    text-decoration: none;
  }
  
  .register-text a:hover {
    text-decoration: underline;
  }
  